path {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
    pointer-events: visibleFill;
}

/* Styling for each state */
.state {
    fill: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}
