path {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
    pointer-events: visibleFill;
}

/* Styling for each state */


.state.selected {
    fill: #FAC898;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.city {
    stroke: white;
    stroke-width: 1px;
    fill: red;
    opacity: 0.8;
}

.info-card {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
}

.header-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
  }

#vis-container {
    width: 1400px;
    height: 700px;
    display:flex;
}

#map-svg {
    width: 900px;
    height: 700px;
}

#graphs-container {
    width: 500px;
    height: 700px;
}

#quarterly-graph {
    width: 500px;
    height: 350px;
}

#static-graph {
    width: 500px;
    height: 350px;
}

