path {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
    pointer-events: visibleFill;
}

/* Styling for each state */
.state {
    fill: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.city {
    stroke: white;
    stroke-width: 1px;
    fill: red;
    opacity: 0.8;
}

.info-card {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
}

.input-div button {
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 0.9rem;
  }
  
.header-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
  }
